#!/usr/bin/env -S rc -e

Automated script to make a market that assumes the following:

1. The user has enough starting liquidity for $2, and for however much they want to
allocate as an argument here.

2. The user has provided some odds they like, expressed scaled by 100. These will be used
for an initial purchase.

3. The user has provided some starting liquidity to be used to set the odds. This is aside
from the $2 and is a separate purchase that takes place.

4. The user has provided a valid admin secret.

At each step, environment variables will be printed which can be set to restart from that
point.
