name: Playwright E2E Tests

on:
  workflow_call:

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: './web'
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - uses: actions/setup-node@v4
        with:
          node-version: 22.x
          
      - name: Enable pnpm
        run: corepack enable pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm playwright install --with-deps

      - name: Run Playwright tests
        env:
          NEXT_PUBLIC_WC_ID: ${{ vars.NEXT_PUBLIC_WC_ID }}
          NEXT_PUBLIC_GRAPHQL_URL: "https://graph.9lives.so"
          NEXT_PUBLIC_FEATURES_URL: "https://features.9lives.so/features.json"
          NEXT_PUBLIC_POINTS_URL: "https://points-graph.superposition.so"
          NEXT_PUBLIC_ACCOUNTS_URL: "https://accounts.superposition.so"
          NEXT_PUBLIC_FUSDC_ADDR: "0x6c030c5CC283F791B26816f325b9C632d964F8A1"
          NEXT_PUBLIC_AMM_ADDR: "0xF3334049A3ce7e890bd4f8C6a0FBC70e38fd3746"
          NEXT_PUBLIC_LENS_ADDR: "0x8036d656D2E0c36d90DF47b7Da625fDC16375f87"
          NEXT_PUBLIC_HELPER_FACTORY_ADDR: "0xC555D6819C9293ec0A703dF4A5CcDAF0BdEdD1Cd"
          NEXT_PUBLIC_BUY_HELPER_ADDR: "0xEBBfeAcbbD331466512A362BEa782e1f7CB45b57"
          NEXT_PUBLIC_INFRA_ADDR: "0xc4451d8477cd6b92bfa0d3e2662ce0507a8e10b9"
          NEXT_PUBLIC_AI_ADDR: "0x9d73847f1edc930d2a2ee801aeadb4c4567f18e1"
          NEXT_PUBLIC_BEAUTY_ADDR: "0x15f4A8a0b8cD0343fAe5a7FC736cD9e0D7bE4d5C"
          NEXT_PUBLIC_SARP_SIGNALLER_ADDR: "0xD608CeF1D7C84feaA0E1520C7a6BC4798cFC1455"
          NEXT_PUBLIC_MEOW_DOMAINS_ADDR: "0x4087fb91A1fBdef05761C02714335D232a2Bf3a1"
          NEXT_PUBLIC_POSTHOG_KEY: "phc_wFN8nVjgKYNURCUsE7MEFUdAjgKE6aDC01AAEXLUGyt"
          NEXT_PUBLIC_POSTHOG_HOST: "https://us.i.posthog.com"
          NEXT_PUBLIC_WS_URL: "wss://websocket.9lives.so"
          NEXT_PUBLIC_HASURA_URL: "https://superposition-main.hasura.app/v1/graphql"
          NEXT_PUBLIC_CHAIN: "mainnet"
          NEXT_PUBLIC_SNITCH_ENDPOINT: "https://snitch-superposition-so.stellate.sh"
          NEXT_PUBLIC_CLAIMANT_HELPER_ADDR: "0xD77ae359A5A12F04c4ABFE7D5B511E0990CE6F6C"
          NEXT_PUBLIC_BUY_HELPER2_ADDR: "0x2088Bd1629c7207C033fEcb2dD3F4FeF217533a3"
          NEXT_PUBLIC_PAYMASTER_ADDR: "0xE990f05e2264f56435Fd7589FA2F70A879B0cE9f"
          NEXT_PUBLIC_ACCOUNT_AUTHORITY_ADDR: "0x0e3CD9653D9d9610281551d8E3C98035215EA18e"
          FORKNET_URL: ${{ secrets.FORKNET_URL }}
          FORKNET_SECRET: ${{ secrets.FORKNET_SECRET }}
          TESTER_PRIVATE_KEY: ${{ secrets.TESTER_PRIVATE_KEY }}
          POSTHOG_ENV_ID: ${{ secrets.POSTHOG_ENV_ID }}
        run: pnpm test:e2e

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-coverage
          path: web/playwright-coverage/
          retention-days: 30

      - name: Upload coverage reports to Codecov
        if: ${{ !startsWith(github.head_ref, 'dependabot/') }}
        uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: true
          flags: e2e
          name: e2e-tests
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
